.edit, .remove {
  border: 0;
  padding: 0;
  color: #00adff;
  opacity: 0;
  background: transparent;
}

.tasks-todo .task:hover {
  color: #005aff;
}

.tasks-todo .task:hover .edit,
.tasks-todo .task:hover .remove,
.project:hover .panel-heading .edit,
.project:hover .panel-heading .remove
{
  opacity: 1;
  color: #005aff;
  background: transparent;
}

.tasks-todo .task {
  color: #00adff;
}

.panel-heading .btn-group {
   float: right;
}

.btn.toggle-dropdown {
  border: 0;
  background: transparent;
}
